{% extends "base.html" %}

{% block content %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="static\css\books.css" rel="stylesheet" />
    <title>{{title}}</title>
</head>

<body>
    <p>Понравившиеся книги</p>
    <div class="row">
        {% for book in liked_books %}
        {% set obj = session.query(Book).filter(Book.id == book).first() %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{obj.name}}</h5>
                    <p class="card-text">{{obj.author}}</p>
                    <a href="read_book/{{obj.id}}" class="btn btn-primary">Читать</a>
                    <a href="delete_book/{{obj.id}}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="alert alert-dark" role="alert">
        Выберите книгу из нашей коллекции книг.<a href="/choose_book" class="alert-link"> Выбрать!</a>
    </div>
    <p>Добавленные книги</p>
    <div class="row">
        {% for book in added_books %}
        {% set obj = session.query(Book).filter(Book.id == book.id).first() %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{obj.name}}</h5>
                    <p class="card-text">{{obj.author}}</p>
                    <a href="read_book/{{obj.id}}" class="btn btn-primary">Читать</a>
                    <a href="delete_book/{{obj.id}}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="alert alert-dark" role="alert">
        Хотите добавить своё произведение?<a href="/add_book" class="alert-link"> Вперёд!</a>
    </div>
</body>

</html>

{% endblock %}